/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/* Basic */

body,
input,
select,
textarea {
    font-size: 11pt;
}

.menuSection {
    width: 33.33%;
    float: left;
    border: 1px solid black;
}

.itemWrap {
    width: 32%;
    margin-right: 1%;
    float: left;
    clear: right;
}